p.sorbalogo {
  float:right;
  text-align:left;
  display:block;

  img {
    height:330px;
    width:280px;
  }
}

p.sorbalogo_nav {
  img {
    height:125px;
    width:100px;
  }
}

.header-margin {
  margin-top:50px;
}

.clear { clear:both; }


#countdown_timer { width: 240px; height: 45px; display:block; background: #ccc; }

