p.sorbalogo {
  float:right;
  text-align:left;
  display:block;

  img {
    height:330px;
    width:280px;
  }
}

p.sorbalogo_nav {
  img {
    height:125px;
    width:100px;
  }
}

.header-margin {
  margin-top:50px;
}

.clear { clear:both; }